html {
    height: 100%;
    width: 100%;
    margin: 0%;
}

body {
    margin: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

p,
h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: #92abfe;
    color: white;
    border: none;
    padding: 2%;
    border-radius: 1em;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 640px) {
    div {
        margin: 5%;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.055);
        backdrop-filter: blur(100px);
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: small;
    }
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
    div {
        margin: 15%;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.055);
        backdrop-filter: blur(100px);
    }
}

@media screen and (min-width: 1280px) {
    div {
        margin: 30%;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.055);
        backdrop-filter: blur(100px);
    }
}